.cajaPadre {
	position: fixed;
	z-index: 99999;
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
	width: 100%;
	background: #fff;
	margin-left: 35px;
	height: 17vh;
	/*display: none;*/
}

.botones {
	position: fixed;
	z-index: 99999;
	/*border: solid 1px red;*/
	/*top: 0px;*/
}

/*lista de informacion*/

.listaDeInfomacion ul {
	display: flex;
	/*border: solid 3px green;*/
}

.listaDeInfomacion ul li {
	text-decoration: none;
	list-style: none;
	margin: 15px;
	padding-left: 19px;
	/*border: solid 3px blue;*/
}
.listaDeInfomacion ul li a {
	text-decoration: none;
	list-style: none;
	color: #000;
	padding-left: 9px;
	/*border: solid 3px green;*/
}
