.componente_navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	height: 10vh;
	font-size: 17px;
	padding: 40px;
}
.parrafo_logo {
	background: #333;
	border-radius: 50%;
	width: 45%;
	height: 9vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	color: #e6621f;
	margin: 20px;
	padding: 20px;
	border: solid 5px #e6621f;
}

.parrafo_logo a em {
	text-decoration: none;
	list-style: none;
}
.imagenLupaInput {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	/*border: solid 2px yellow;*/
}

.imagenLupaInput input {
	/*border: solid 2px red;*/
	margin-left: 50px;
}

.imagenLupaInput img {
	height: 37px;
	width: 6%;
	border-radius: 5px;
	/*border: solid 2px red;*/
}

.carrito {
	margin-left: 30px;
}

.imagenLupaInput input {
	width: 80%;
	height: 35px;
	outline: none;
}

.sectionHref {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
}

.sectionHref a {
	text-decoration: none;
	list-style: none;
	color: #000;
}

.sectionHref img {
	height: 65px;
	width: 60%;
}
