@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	height: 30rem;
	font-family: "Roboto", sans-serif;
	padding: 10px;
	color: #fff;
	background: #33313b;
	border-left: 0px;

	justify-content: center;
}
