.header {
	background-image: linear-gradient(#d35400, #d35400);
	display: grid;
	grid-template-areas: "header header header header";
	grid-template-columns: 1fr 5fr;
	grid-gap: 20px;
}

.header div {
	align-items: center;
	display: grid;
	/*border: solid 2px #fff;*/
	justify-content: center;
}
