.header {
	background: #251508;
	color: #fff;
	height: 3em;
	display: grid;
	align-items: center;
}
ul {
	list-style: none;

	display: flex;
	justify-content: center;
	align-items: center;
}
.header a {
	text-decoration: none;
	list-style: none;
}
