.secionCuerpo {
	width: 100%;
	height: 80vh;
	padding-top: 30px;
	margin-top: -20px;
	background: #ededee;
}
.secionCuerpo img {
	display: grid;
	justify-content: center;
	height: 300px;
	width: 90%;
	margin-left: 16px;
}

.secionCuerpo a {
	border: solid 1px #000;
	color: #fff;
	background: #e6621f;
}
