.borderBlanco {
	display: flex;
	height: 40px;
	background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.borderBlanco a {
	color: #d35400;
	margin: 10px;
	list-style: none;
	text-decoration: none;
}

.borderBlanco a:hover {
	color: #537895;
}
