.contenedor {
	/*border: solid 1px red;*/
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-row-start: 1;
	grid-row-end: 2;
	height: 100vh;
}
.contenedor li {
	list-style: none;
	text-decoration: none;
	grid-row-start: 1;
	grid-row-end: 2;
	color: #fff;
}
.Icon-check--active {
	color: #d35400;
}
