.TodoItem {
	position: relative;
	align-items: center;
	margin-top: -10px;
	box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}
.TodoItem-p {
	margin: 24px 0 24px 24px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}

.Icon {
	/*border: solid 1px red;*/
	/*cursor: pointer;*/
	display: flex;
	/*justify-content: center;*/
	/*align-items: center;*/
	/*height: 48px;*/
	/*width: 48px;*/
	/*font-size: 24px;*/
	font-weight: bold;
	/* background-color: #CCC; */
}
.Icon-check {
	position: absolute;
	left: 8px;
	/*border: solid 1px #fff;*/
}
.Icon-delete {
	position: relative;
	top: 20px;
	/*border: solid 1px red;*/
	right: 0;
}

.Icon-delete {
	position: absolute;
	top: 0px;
	/*margin: 5px;*/
	right: 3px;
}
.Icon-delete:hover {
	color: red;
}
